section.top-site {
  padding: 80px 4%;
}

section.top-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.top-site h1 {
  color: var(--text-color);
  font-size: 38px;
  line-height: 50px;
}

.top-site .txt-top-site h1 span {
  color: var(--primary-color);
}

.top-site .txt-top-site p {
  color: var(--text-color);
  margin: 40px 0;
}

.top-site .img-top-site img {
  position: relative;
  animation: floating 2s ease-in-out infinite alternate;
}

@keyframes floating {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}
