footer {
  padding: 60px 4%;
  /*box-shadow: 0 0 40px 10px #ffffff1d;*/
}

footer .flex {
  justify-content: space-between;
}

footer .line-footer {
  padding: 20px 0px;
}

.border {
  border-top: 1px solid rgba(17, 181, 228, 0.2);
}

footer .line-footer p i {
  color: var(--primary-color);
  font-size: 22px;
}

footer .line-footer p a {
  color: var(--text-color);
  text-decoration: none;
}
