section.sobre {
  padding: 40px 4%;
}

section.sobre .flex {
  align-items: center;
  gap: 60px;
}

.sobre .txt-sobre {
  color: var(--text-color);
}

.sobre .txt-sobre h2 {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
  /*display: block;*/
  color: var(--primary-color);
}

.sobre .txt-sobre p span {
  color: var(--primary-color);
  font-weight: bold;
}

.sobre .txt-sobre p .spike-lee {
  color: rgb(209, 74, 74);
  font-weight: bold;
}

.sobre .txt-sobre p {
  margin: 20px 0;
  text-align: justify;
}

.btn-social button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  background-color: var(--background-color);
  font-size: 22px;
  margin: 20px 6px;
  cursor: pointer;
  color: var(--primary-color);
  transition: all ease var(--transition-button-timer);
}

.btn-social button:hover {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: 2px solid var(--secondary-color);
  box-shadow: 0px 0px 4px var(--secondary-color);
  transform: scale(1.05);
}

.img-sobre img {
  width: 600px;
  height: 600px;
}
